In [1]:
import json

def read_jsonl_file(file_path):
    data = []
    with open(file_path, 'r', encoding='utf-8') as file:
        for line in file:
            data.append(json.loads(line))
    return data

file_path = '../dataset/dev_full.jsonl'

data = read_jsonl_file(file_path)

In [4]:
data[0]

{'input': {'metadata': {'title': '4차 산업혁명에 따른 조세환경 변화와 정책 과제',
   'table_title': '영국의 우회이익세(DPT) 과세실적',
   'date': '2020-06-09',
   'publisher': '국회예산정책처',
   'highlighted_cells': [[0, 3], [1, 3], [3, 3]]},
  'table_xml': '<table><row><value /><is_header>True</is_header><col>0</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>2015/16</value><is_header>True</is_header><col>1</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>2016/17</value><is_header>True</is_header><col>2</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>2017/18</value><is_header>True</is_header><col>3</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>해외이전소득신고건수(건)1)</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>48</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>145</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>220</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>당초예상세수(백만파운드)</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>25</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>270</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>360</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>총세수(백만파운드)2)</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row><row><value>31</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row><row><value>281</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row><row><value>388</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row></table>'},
 'output': '영국의 우회이익세(DPT) 과세실적을 살펴보면 2015/2016년 31만 파운드에서 2017/2018년에는 388만 파운드로 10배 이상 증가한 것으로 나타났다.'}

# XML

In [50]:
ex = data[0]

In [51]:
title = ex['input']['metadata']['table_title']
highlighted_cells = ex['input']['metadata']['highlighted_cells']
table = ex['input']['table_xml']
target = ex['output']

In [52]:
print("Table Title:", title)
print()
print("Highlighted Cells:", highlighted_cells)
print()
print("Table XML:", table)
print()
print("Target Output:", target)

Table Title: 영국의 우회이익세(DPT) 과세실적

Highlighted Cells: [[0, 3], [1, 3], [3, 3]]

Table XML: <table><row><value /><is_header>True</is_header><col>0</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>2015/16</value><is_header>True</is_header><col>1</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>2016/17</value><is_header>True</is_header><col>2</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>2017/18</value><is_header>True</is_header><col>3</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>해외이전소득신고건수(건)1)</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>48</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>145</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>220</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>당초예상세수(백만파운드)</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>25</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>270</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>360</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>총세수(백만파운드)2)</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row><row><value>31</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row><row><value>281</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row><row><value>388</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row></table>

Target Output: 영국의 우회이익세(DPT) 과세실적을 살펴보면 2015/2016년 31만 파운드에서 2017/2018년에는 388만 파운드로 10배 이상 증가한 것으로 나타났다.

In [53]:
trans_ex = {
    'input': {
        'table_title': title,
        'highlighted_cells': highlighted_cells,
        'table_xml': table
    },
    'output': target
}
trans_ex

{'input': {'table_title': '영국의 우회이익세(DPT) 과세실적',
  'highlighted_cells': [[0, 3], [1, 3], [3, 3]],
  'table_xml': '<table><row><value /><is_header>True</is_header><col>0</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>2015/16</value><is_header>True</is_header><col>1</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>2016/17</value><is_header>True</is_header><col>2</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>2017/18</value><is_header>True</is_header><col>3</col><colspan>1</colspan><row>0</row><rowspan>1</rowspan></row><row><value>해외이전소득신고건수(건)1)</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>48</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>145</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>220</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>당초예상세수(백만파운드)</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>25</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>270</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>360</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>총세수(백만파운드)2)</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row><row><value>31</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row><row><value>281</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row><row><value>388</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>3</row><rowspan>1</rowspan></row></table>'},
 'output': '영국의 우회이익세(DPT) 과세실적을 살펴보면 2015/2016년 31만 파운드에서 2017/2018년에는 388만 파운드로 10배 이상 증가한 것으로 나타났다.'}

In [54]:
trans_xml = []
for d in data:
    title = d['input']['metadata']['table_title']
    highlighted_cells = d['input']['metadata']['highlighted_cells']
    table = d['input']['table_xml']
    target = d['output']
    trans_xml.append({
        'input': {
            'table_title': title,
            'highlighted_cells': highlighted_cells,
            'table_xml': table
        },
        'output': target
    })

In [55]:
trans_xml[12]

{'input': {'table_title': '2019회계연도\u2000관서운영경비\u2000결산현황',
  'highlighted_cells': [[5, 2], [6, 2]],
  'table_xml': '<table><row><value>구분</value><is_header>True</is_header><col>0</col><colspan>1</colspan><row>0</row><rowspan>2</rowspan></row><row><value>예산액</value><is_header>True</is_header><col>1</col><colspan>2</colspan><row>0</row><rowspan>1</rowspan></row><row><value>예산현액</value><is_header>True</is_header><col>3</col><colspan>1</colspan><row>0</row><rowspan>2</rowspan></row><row><value>집행액</value><is_header>True</is_header><col>4</col><colspan>3</colspan><row>0</row><rowspan>1</rowspan></row><row><value>불용액</value><is_header>True</is_header><col>7</col><colspan>1</colspan><row>0</row><rowspan>2</rowspan></row><row><value>본예산</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>추경</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>계</value><is_header>False</is_header><col>4</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>일반지출</value><is_header>False</is_header><col>5</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>관서운영경비</value><is_header>False</is_header><col>6</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row><row><value>총지출</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>343,572</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>343,572</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>348,378</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>328,719</value><is_header>False</is_header><col>4</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>278,474</value><is_header>False</is_header><col>5</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>50,245</value><is_header>False</is_header><col>6</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row><row><value>19,152</value><is_header>False</is_header><col>7</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row></table>'},
 'output': '2019년 중앙선거관리위원회는 집행액 중 2,784억 7,400만 원은 일반지출로, 502억 4,500만 원은 관서운영경비로 사용하였다.'}

In [56]:
def save_to_jsonl(file_path, data):
    with open(file_path, 'w', encoding='utf-8') as file:
        for entry in data:
            json_line = json.dumps(entry)
            file.write(json_line + '\n')

# 파일 경로 설정
file_path = 'trans_xml.jsonl'

# 데이터를 JSONL 파일로 저장
save_to_jsonl(file_path, trans_xml)

# MarkDown

In [43]:
import xml.etree.ElementTree as ET

def parse_table(xml_data):
    root = ET.fromstring(xml_data)
    
    # 최대 행과 열의 개수를 파악합니다.
    max_row = max(int(cell.find('row').text) + int(cell.find('rowspan').text) - 1 for cell in root.findall('row'))
    max_col = max(int(cell.find('col').text) + int(cell.find('colspan').text) - 1 for cell in root.findall('row'))

    # 빈 테이블을 생성합니다.
    table = [['' for _ in range(max_col + 1)] for _ in range(max_row + 1)]

    # 각 셀의 위치와 크기를 파악하여 테이블에 채웁니다.
    for cell in root.findall('row'):
        value = cell.find('value').text
        row = int(cell.find('row').text)
        col = int(cell.find('col').text)
        rowspan = int(cell.find('rowspan').text)
        colspan = int(cell.find('colspan').text)
        
        for r in range(rowspan):
            for c in range(colspan):
                table[row + r][col + c] = value  # 모든 병합된 셀에 값을 넣음
    
    return table

def convert_to_markdown(table):
    markdown_table = []
    for row in table:
        # None 값을 빈 문자열로 변환하여 처리
        clean_row = [str(cell) if cell is not None else '' for cell in row]
        markdown_table.append('| ' + ' | '.join(clean_row) + ' |')
    
    return '\n'.join(markdown_table)

# XML 데이터
xml_data = '''<table>
<row><value>구분</value><is_header>True</is_header><col>0</col><colspan>1</colspan><row>0</row><rowspan>2</rowspan></row>
<row><value>예산액</value><is_header>True</is_header><col>1</col><colspan>2</colspan><row>0</row><rowspan>1</rowspan></row>
<row><value>예산현액</value><is_header>True</is_header><col>3</col><colspan>1</colspan><row>0</row><rowspan>2</rowspan></row>
<row><value>집행액</value><is_header>True</is_header><col>4</col><colspan>3</colspan><row>0</row><rowspan>1</rowspan></row>
<row><value>불용액</value><is_header>True</is_header><col>7</col><colspan>1</colspan><row>0</row><rowspan>2</rowspan></row>
<row><value>본예산</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row>
<row><value>추경</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row>
<row><value>계</value><is_header>False</is_header><col>4</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row>
<row><value>일반지출</value><is_header>False</is_header><col>5</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row>
<row><value>관서운영경비</value><is_header>False</is_header><col>6</col><colspan>1</colspan><row>1</row><rowspan>1</rowspan></row>
<row><value>총지출</value><is_header>False</is_header><col>0</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row>
<row><value>343,572</value><is_header>False</is_header><col>1</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row>
<row><value>343,572</value><is_header>False</is_header><col>2</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row>
<row><value>348,378</value><is_header>False</is_header><col>3</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row>
<row><value>328,719</value><is_header>False</is_header><col>4</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row>
<row><value>278,474</value><is_header>False</is_header><col>5</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row>
<row><value>50,245</value><is_header>False</is_header><col>6</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row>
<row><value>19,152</value><is_header>False</is_header><col>7</col><colspan>1</colspan><row>2</row><rowspan>1</rowspan></row>
</table>'''

# XML 파싱
table = parse_table(xml_data)

# Markdown 변환
markdown = convert_to_markdown(table)

# 결과 출력
print(markdown)

| 구분 | 예산액 | 예산액 | 예산현액 | 집행액 | 집행액 | 집행액 | 불용액 |
| 구분 | 본예산 | 추경 | 예산현액 | 계 | 일반지출 | 관서운영경비 | 불용액 |
| 총지출 | 343,572 | 343,572 | 348,378 | 328,719 | 278,474 | 50,245 | 19,152 |

In [44]:
table

[['구분', '예산액', '예산액', '예산현액', '집행액', '집행액', '집행액', '불용액'],
 ['구분', '본예산', '추경', '예산현액', '계', '일반지출', '관서운영경비', '불용액'],
 ['총지출',
  '343,572',
  '343,572',
  '348,378',
  '328,719',
  '278,474',
  '50,245',
  '19,152']]

## MarkDown 1 - highlight by list

In [45]:
trans_mkdw1 = []
for d in data:
    title = d['input']['metadata']['table_title']
    highlighted_cells = d['input']['metadata']['highlighted_cells']
    table = d['input']['table_xml']
    table = convert_to_markdown(parse_table(table))
    target = d['output']
    trans_mkdw1.append({
        'input': {
            'table_title': title,
            'highlighted_cells': highlighted_cells,
            'table_mkdw1': table
        },
        'output': target
    })

In [46]:
trans_mkdw1[3]

{'input': {'table_title': '2019년도 풍수해지원 사업 결산 현황',
  'highlighted_cells': [[0, 2], [9, 2], [1, 3], [9, 3]],
  'table_mkdw1': '| 사업명 | 사업명 | 예산 | 예산 | 예비비 | 예산현액(A) | 집행액(B) | 집행률(B/A) | 다음연도 이월액 | 불용액 |\n| 사업명 | 사업명 | 본예산 | 추경 | 예비비 | 예산현액(A) | 집행액(B) | 집행률(B/A) | 다음연도 이월액 | 불용액 |\n| 풍수해보험 | 풍수해보험 | 18,834 | 18,834 | 0 | 18,834 | 14,832 | 78.7 | 0 | 4,002 |\n|  | 풍수해보험 보험료지원 | 18,375 | 18,375 | 0 | 18,375 | 14,373 | 78.2 | 0 | 4,002 |\n|  | 풍수해보험 등 운영 | 459 | 459 | 0 | 459 | 459 | 100 | 0 | 0 |'},
 'output': '2019년도 풍수해보험의 불용액은 40억 200만 원이며 전부 보험료 지원에서 발생한 것으로 조사되었다.'}

In [49]:
print(trans_mkdw1[123]['input']['table_mkdw1'])

| 사업명 | 사업명 | 예산 | 예산 | 전년도 이월액 | 이․전용 등 | 예산현액(A) | 집행액(B) | 집행률(B/A) | 다음연도 이월액 | 불용액 |
| 사업명 | 사업명 | 본예산 | 추경 | 전년도 이월액 | 이․전용 등 | 예산현액(A) | 집행액(B) | 집행률(B/A) | 다음연도 이월액 | 불용액 |
| 기계산업핵심 기술개발 | 기계산업핵심 기술개발 | 47,612 | 79,612 | 0 | 0 | 79,612 | 79,612 | 100.0 | 0 | 0 |
|  | 제조장비실증 | 0 | 32,000 | 0 | 0 | 32,000 | 32,000 | 100.0 | 0 | 0 |

In [57]:
def save_to_jsonl(file_path, data):
    with open(file_path, 'w', encoding='utf-8') as file:
        for entry in data:
            json_line = json.dumps(entry)
            file.write(json_line + '\n')

# 파일 경로 설정
file_path = 'trans_mkdw1.jsonl'

# 데이터를 JSONL 파일로 저장
save_to_jsonl(file_path, trans_mkdw1)

## MarkDown 2 - highlight by bold

In [71]:
def convert_to_highlighted_markdown(table, highlighted_cells):
    markdown_table = []
    for row_idx, row in enumerate(table):
        clean_row = []
        for col_idx, cell in enumerate(row):
            cell_str = str(cell) if cell is not None else ''
            if [row_idx, col_idx] in highlighted_cells:
                cell_str = f"**{cell_str}**"
            clean_row.append(cell_str)
        markdown_table.append('| ' + ' | '.join(clean_row) + ' |')
    
    return '\n'.join(markdown_table)

In [72]:
trans_mkdw2 = []
for d in data:
    title = d['input']['metadata']['table_title']
    highlighted_cells = d['input']['metadata']['highlighted_cells']
    table = d['input']['table_xml']
    table = convert_to_highlighted_markdown(parse_table(table), highlighted_cells)
    target = d['output']
    trans_mkdw2.append({
        'input': {
            'table_title': title,
            'highlighted_cells': highlighted_cells,
            'table_mkdw2': table
        },
        'output': target
    })

In [75]:
print(trans_mkdw2[0]['input']['table_mkdw2'])

|  | 2015/16 | 2016/17 | **2017/18** |
| 해외이전소득신고건수(건)1) | 48 | 145 | **220** |
| 당초예상세수(백만파운드) | 25 | 270 | 360 |
| 총세수(백만파운드)2) | 31 | 281 | **388** |

In [76]:
def save_to_jsonl(file_path, data):
    with open(file_path, 'w', encoding='utf-8') as file:
        for entry in data:
            json_line = json.dumps(entry)
            file.write(json_line + '\n')

# 파일 경로 설정
file_path = 'trans_mkdw2.jsonl'

# 데이터를 JSONL 파일로 저장
save_to_jsonl(file_path, trans_mkdw2)

# HTML로 변경

In [77]:
import xml.etree.ElementTree as ET

def xml_to_html_table(xml_data):
    root = ET.fromstring(xml_data)
    
    # HTML 표의 시작
    html = '<table>\n'
    
    # 최대 행 번호를 찾아서 행별로 데이터를 정리
    max_row = max(int(cell.find('row').text) for cell in root.findall('row'))

    # 각 행을 순차적으로 처리
    for row_idx in range(max_row + 1):
        html += '  <tr>\n'
        for cell in root.findall('row'):
            if int(cell.find('row').text) == row_idx:
                value = cell.find('value').text
                if cell.find('is_header').text == 'True':
                    html += f'    <th>{value if value else ""}</th>\n'
                else:
                    html += f'    <td>{value}</td>\n'
        html += '  </tr>\n'

    # HTML 표의 끝
    html += '</table>'
    return html

In [78]:
trans_html = []
for d in data:
    title = d['input']['metadata']['table_title']
    highlighted_cells = d['input']['metadata']['highlighted_cells']
    table = xml_to_html_table(d['input']['table_xml'])
    target = d['output']
    trans_html.append({
        'input': {
            'table_title': title,
            'highlighted_cells': highlighted_cells,
            'table_html': table
        },
        'output': target
    })

In [80]:
print(trans_html[0]['input']['table_html'])

<table>
  <tr>
    <th></th>
    <th>2015/16</th>
    <th>2016/17</th>
    <th>2017/18</th>
  </tr>
  <tr>
    <td>해외이전소득신고건수(건)1)</td>
    <td>48</td>
    <td>145</td>
    <td>220</td>
  </tr>
  <tr>
    <td>당초예상세수(백만파운드)</td>
    <td>25</td>
    <td>270</td>
    <td>360</td>
  </tr>
  <tr>
    <td>총세수(백만파운드)2)</td>
    <td>31</td>
    <td>281</td>
    <td>388</td>
  </tr>
</table>

In [ ]:
def save_to_jsonl(file_path, data):
    with open(file_path, 'w', encoding='utf-8') as file:
        for entry in data:
            json_line = json.dumps(entry)
            file.write(json_line + '\n')

# 파일 경로 설정
file_path = 'trans_mkdw2.jsonl'

# 데이터를 JSONL 파일로 저장
save_to_jsonl(file_path, trans_mkdw2)